# Budget Bot Stage Token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Google Sheets ID
GOOGLE_SHEET_ID=your_google_sheet_id_here

# OpenRouter API Key
OPENROUTER_API_KEY=your_openrouter_api_key_here

# OpenRouter Model
OPENROUTER_LLM_VERSION=deepseek/deepseek-r1:free 